:root {
  --black: #000;
  --white: #fff;
  --accent-0: #3460d8;
  --accent-1: #5098d5;
  --accent-2: #68a0ee;
  --root-d-0: #132037;
  --root-d-1: #434651;
  --root-d-2: #677081;
  --root-d-3: #7a7b8c;
  --root-l-0: #f5f5f5;
  --root-l-1: #f2f4f7;
  --root-l-2: #f0f3fa;
  --root-l-3: #edeff2;
  --root-l-4: #cbd1db;
  --root-l-5: #fafafa;
  --root-l-6: #f0effb;
}

table.settings th {
  color: var(--root-d-2);
}

table.settings td {
  color: var(--root-d-0);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

table.settings {
  width: 100%;
}

table.settings > tbody {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

table.settings > tbody:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--white);
}

.dark-mode table.settings > tbody:after {
  background-color: #2e3440;
}

table.settings > tbody tr {
  border-top: 0px !important;
  -webkit-box-flex: 0 1 25%;
  -moz-box-flex: 0 1 25%;
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  position: relative;
  padding-bottom: 10px;
  margin-top: 15px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

@media only screen and (max-width: 599.98px) {
  table.settings > tbody tr {
    -webkit-box-flex: 0 1 50%;
    -moz-box-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media only screen and (max-width: 767.98px) {
  table.settings > tbody tr {
    -webkit-box-flex: 0 1 33.333%;
    -moz-box-flex: 0 1 33.333%;
    -webkit-flex: 0 1 33.333%;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
  }
}

@media only screen and (min-width: 978px) {
  table.settings > tbody tr {
    padding-right: 10px;
  }
}

table.settings > tbody tr:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--root-l-3);
}

table.settings > tbody tr td,
table.settings > tbody tr th {
  border: 0px !important;
  margin: 0;
  padding: 0;
  text-align: left;
}

table.settings > tbody tr th {
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}

@media only screen and (min-width: 978px) {
  table.settings > tbody tr th {
    font-size: 14px;
    line-height: 13px;
  }
}

table.settings > tbody tr td {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

@media only screen and (max-width: 977.98px) {
  table.settings > tbody tr td {
    font-size: 14px;
  }
}

.player_icon {
  text-align: center;
}

.player_icon img {
  background-color: #f2f2f2;
  border-radius: 100%;
  width: 200px;
}
